:root{
    --cor-fundo: #2e6d08;
    --cor-principal: #1be569 ;
    --cor-secundaria: #a0e810;
    --cor-destaque: #2bfdba;
    --cor-texto: #1ed311;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}